@{
	ViewData["Title"] = "List of subjects";
}
@model IEnumerable<Subject>
@using MagistriMVC.Controllers
<h4>List of subjects</h4>
<table>
	<tr>
		<th>
			ID
		</th>
		<th>
			Name
		</th>
		<th>

		</th>
	</tr>
	@foreach (var subject in Model) {
		<tr>
			<td>
				@subject.Id
			</td>
			<td>
				@subject.Name
			</td>
			<td>
				<a class="btn btn-outline-secondary btn-sm" asp-controller="Subjects" asp-action="Edit" asp-route-id="@subject.Id">Edit</a>
				<a class="btn btn-secondary btn-sm" asp-controller="Subjects" asp-action="Delete" asp-route-id="@subject.Id">Delete</a>
			</td>
		</tr>
	}
</table>
<hr />
<div>
	<a class="btn btn-sm btn-success" asp-controller="subjects" asp-action="Create">Create a new subject</a>
</div>