@{
	ViewData["Title"] = "Edit a grade";
}
@model GradesViewModel
<div>
	<h4>Edit a grade</h4>
	<form asp-action="Edit">
		<div class="form-group">
			<label class="control-label" asp-for="StudentId">Student Id</label>
			<select class="form-control" asp-for="StudentId" asp-items="ViewBag.Students"></select>
		</div>
		<div class="form-group">
			<label class="control-label" asp-for="SubjectId">SubjectId</label>
			<select class="form-control" asp-for="SubjectId" asp-items="ViewBag.Subjects"></select>
		</div>
		<div class="form-group">
			<label asp-for="What"></label>
			<input type="text" asp-for="What" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="Mark"></label>
			<input type="text" asp-for="Mark" class="form-control" />
		</div>
		<div class="form-group">
		@*<label asp-for="Date"></label>*@
		<input type="hidden" asp-for="Date" class="form-control" value="@DateTime.Now.ToShortDateString()" hidden/>
		</div>
		<hr	/>
		<div>
			<input class="btn btn-sm btn-success" type="submit" value="Save changes" />
			<a class="btn btn-sm btn-secondary" asp-controller="Grades" asp-action="Index">Cancel</a>
		</div>
	</form>
</div>
