@{
	ViewData["Title"] = "CREATE USER";
}
@using MagistriMVC.Models;
@model UserVM
<h4>Create User</h4>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post">
	<div class="form-group">
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Password"></label>
		<input type="password" asp-for="Password" class="form-control" />
	</div>
	@*<div class="form-group">
		<label class="control-label" asp-for="SubjectId">SubjectId</label>
		<select class="form-control" asp-for="SubjectId" asp-items="ViewBag.Subjects"></select>
	</div>*@
	<hr />
	<button type="submit" class="btn btn-sm btn-success">Create</button>
	<a asp-action="Index" class="btn btn-sm btn-secondary">Cancel</a>
</form>
